@charset "UTF-8";
.buttonGroup {
  margin-left: 30px;
  margin-bottom: 20px;
}

.adminbtn {
  width: 20%;
  height: 20px;
  background-color: #ff5757;
  font-size: 14px;
  text-decoration: none !important;
  white-space: nowrap;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  cursor: pointer;
  padding: 4px 23px 4px 7px;
  min-width: 30px;
  border: 2px solid #ff4742;
  color: #fff !important;
  margin: 0 3px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.adminbtn_black {
  width: 20%;
  height: 20px;
  background-color: #000000;
  font-size: 14px;
  text-decoration: none !important;
  white-space: nowrap;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  cursor: pointer;
  padding: 4px 23px 4px 7px;
  min-width: 30px;
  border: 2px solid #000000;
  color: #fff !important;
  margin: 0 3px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.sub_title {
  font-size: 25px;
  margin-left: 0px;
  text-align: center;
}

.statusbtn {
  width: 80%;
  height: 30px;
  background-color: #ffffff;
  font-size: 14px;
  text-decoration: none !important;
  white-space: nowrap;
  display: inline-block;
  vertical-align: baseline;
  cursor: pointer;
  padding: 3px 23px 4px 7px;
  min-width: 30px;
  border: 2px solid #000000;
  color: #000 !important;
  margin: 3px 0px 20px 40px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.adminlist > p {
  font-size: 17px;
  margin-left: 20px;
}

.adminlist > hr {
  width: 90%;
}
