@charset "UTF-8";
.buttonGroup {
  margin-left: 30px;
  margin-bottom: 20px;
}

.adminbtn {
  width: 20%;
  height: 20px;
  background-color: #ff5757;
  font-size: 14px;
  text-decoration: none !important;
  white-space: nowrap;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  cursor: pointer;
  padding: 4px 23px 4px 7px;
  min-width: 30px;
  border: 2px solid #ff4742;
  color: #fff !important;
  margin: 0 3px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}
