@charset "UTF-8";

.space_container {
  height: 30px;
}

.user_info_container {
  width: 370px;
  height: 150px;

  display: flex;
}

.profile_image_zone {
  width: 170px;
  height: 150px;
}

.profile_text_zone {
  display: block;
  width: 150px;
}

.line {
  border: none;
  border-top: 2px solid #ccc;
  width: 370px;
  margin-left: 12px;
}

.Menu_button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  width: 130px;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #3a4149;
  background: #e7ebee;
  line-height: 1.15;
  font-size: 15px;
}

.infoId {
  width: 230px;
  height: 40px;
  font-weight: 700;
}

.infoName {
  width: 230px;
  height: 30px;
  font-size: 20px;
  font-weight: 800;
}

.infoPoint {
  width: 230px;
  height: 30px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 800;
}
.Id_color {
  color: red;
  font-size: 25px;
}

.Id_color2 {
  color: red;
  font-size: 25px;
}

.button_container {
  margin-left: 230px;
}
.list_button {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #ff4742;
  color: black;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  width: 45px;
  height: 30px;
  margin-right: 10px;
}

.withdrawal_button {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 2px solid gray;
  color: gray;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  width: 45px;
  height: 30px;
  margin-right: 10px;
}

.button_charge {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  width: 45px;
  height: 30px;
}

/* 프로필 사진 액자 */
.info_frame {
  display: inline-block;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 200px;
  margin-left: 20px;
  margin-top: 10px;
}

.info_image {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 200px;
}

/* 프로필 사진 액자 */
.member_info_image_frame {
  display: inline-block;
  position: relative; /* 상대 위치 설정 */
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 200px;
  margin-left: 20px;
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.member_info_image {
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 부모 요소의 상단으로부터 50% 위치 */
  left: 50%; /* 부모 요소의 왼쪽으로부터 50% 위치 */
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 200px;
}
.changeImage {
  margin-left: 37px;
  color: gray;
}
