@charset "utf-8";
.rounded-square {
  width: 370px;
  height: 63px;
  margin-left: 5px;
  border: 2px solid #374151;
  border-radius: 7px;
  margin-top: 2px;
}

.cardSelectBox {
  margin-top: 27px;
  margin-left: 20px;
}

.checkBox_zone {
  width: 50px;
  height: 30px;
}
#card_name_actf {
}
#card_num_actf {
}
#inputBox_actf {
}
.card_info_ex {
  width: 200px;
  height: 30px;

  margin-bottom: 50px;
}

.card_info_ex td {
  padding-bottom: 95px;
  margin-left: 90px;

  font-weight: 700;
}

#inputBox_actf {
  float: left;
  margin-left: 20px;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-top: 24px;
}

#card_name_actf {
  float: left;
  margin-left: 8px;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-top: 18px;
  font-weight: bold;
  font-size: 15px;
}

#card_num_actf {
  float: left;
  margin-left: 8px;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-top: 18px;
  font-weight: bold;
  font-size: 15px;
}
