@charset "utf-8";

.list_container_host_ongoing {
  width: 400px;
  height: 90px;
  display: flex;
}

.image_container_host_ongoing {
  width: 90px;
}

.fund_info_host_ongoing {
  width: 300px;
  font-size: 10px;
}

#hosted_funding_image_host_ongoing {
  width: 80px;
  height: 82px;
}

.fund_title_host_ongoing {
  height: 15px;
  width: 350px;
  font-size: 15px;
  font-weight: 600;
}

.fund_status_host_ongoing {
  height: 15px;
  font-weight: 600;
  font-size: 10px;
}

.fund_amount_host_ongoing {
  width: 290px;
  height: 15px;
  margin-top: 0;
  margin-bottom: 20px;
}

.all_amount_host_ongoing {
  color: black;
  font-size: 10px;
}

.day_left_host_ongoing {
  font-size: 10px;
  float: right;
  margin-right: 10px;
  width: 50px;
}
