@charset "utf-8";

.list_container_join_ongoing {
  width: 390px;
  height: 90px;
  display: flex;
}

.image_container_join_ongoing {
  width: 90px;
}

.fund_info_join_ongoing {
  width: 300px;
  font-size: 10px;
}

#joined_funding_image_join_ongoing {
  width: 80px;
  height: 82px;
}

.fund_title_join_ongoing {
  height: 15px;
  width: 290px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.fund_status_join_ongoing {
  height: 15px;
  font-weight: 600;
  font-size: 13px;
}

.fund_amount_join_ongoing {
  width: 290px;
  height: 15px;
  margin-top: 0;
  margin-bottom: 20px;
}

.all_amount_join_ongoing {
  color: black;
  font-size: 13px;
}

.day_left_join_ongoing {
  font-size: 13px;
  float: right;
  text-align: right;
  margin-right: 20px;
  width: 80px;
}

.no_fund_search {
  width: 100;
  height: 100px;
  margin-left: 150px;
}

.no_fund_text {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

#go_make_fund_ongoing {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  width: 350px;
  height: 30px;

  margin-top: 15px;
  margin-left: 20px;
}

.space_container_invited2 {
  height: 15px;
}

#go_make_fund_end {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  width: 350px;
  height: 30px;

  margin-top: 15px;
  margin-left: 20px;
}

#go_make_fund_hostongoing {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  width: 350px;
  height: 30px;

  margin-top: 15px;
  margin-left: 20px;
}

#go_make_fund_hostend {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  width: 350px;
  height: 30px;

  margin-top: 15px;
  margin-left: 20px;
}
