/* 이태성 */

.select {
  border-top: 1px solid red;
  height: 45px;
  text-align: right;
}

#option_host {
  border: white;
  font-size: 12px;
  font-weight: 700;
  background-color: white;
}

#make_funding_btn {
  margin-top: 10px;
  width: 50px;
  color: black;
}

/* 신정훈 */

.space_container {
  height: 30px;
}

.sub_title_host_funding {
  text-align: center;
}
