@charset "utf-8";

.list_container_join_end {
  width: 400px;
  height: 90px;
  display: flex;
}

.image_container_join_end {
  width: 90px;
}

.fund_info_join_end {
  width: 300px;
  font-size: 10px;
}

#joined_funding_image_join_end {
  width: 80px;
  height: 82px;
}

.fund_title_join_end {
  height: 15px;
  width: 350px;
  font-size: 15px;
  font-weight: 600;
}

.fund_status_join_end {
  height: 15px;
  font-weight: 600;
  font-size: 10px;
}

.fund_amount_join_end {
  width: 290px;
  height: 15px;
  margin-top: 0;
  margin-bottom: 20px;
}

.all_amount_join_end {
  color: black;
  font-size: 10px;
}

.day_left_join_end {
  font-size: 10px;
  float: right;
  margin-right: 10px;
  width: 50px;
}
