.friend_lists {
  margin-top: 40px;
  margin-left: 35px;
  width: 400px;
  font-size: 13px;
  font-weight: bold;
}

#invite_btns {
  margin-left: 240px;
  margin-top: 3px;
}

.friend_list_one {
  width: 80%;
  margin-top: 30px;
  margin-left: 15px;
}

.friend_name {
  width: 200%;
  display: inline;
  float: left;
  margin-top: 3px;
  margin-left: 80px;
  margin-right: 80px;
  font-size: 15px;
}

.friend_image {
  float: left;
}
