@charset "utf-8";
.rounded-square {
  width: 370px;
  height: 63px;
  margin-left: 5px;
  border: 2px solid #374151;
  border-radius: 7px;
  margin-top: 2px;
}

.checkBox_zone {
  width: 50px;
  height: 30px;
}

.card_info_ex {
  width: 200px;
  height: 30px;

  margin-bottom: 50px;
}

.card_info_ex td {
  padding-bottom: 95px;
  margin-left: 90px;

  font-weight: 700;
}

.modify_cardinfo {
  margin-top: 40px;
}

.card_selbtn {
  font-size: 14px;
  text-decoration: none !important;
  white-space: nowrap;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  cursor: pointer;
  padding: 4px 20px;
  min-width: 64px;
  border: 2px solid #ff4742;
  color: #fff !important;
  margin: 10px 15px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ff4742;
  width: 91%;
}
