.slect {
  margin-top: 15px;
  background-color: #d1d5db;
  text-align: right;
  border: 3px solid #d1d5db;
  border-top-color: #ff4742;
  height: 45px;
  width: 100%;
}

.sub {
  width: 100%;
}

.size {
  width: 100%;
}

.span_title {
  font-size: 15px;
  margin-right: 180px;
  font-weight: 700;
  color: #ff4742;
}

span {
  font-size: 15px;
  margin-right: 5px;
  font-weight: 700;
  width: 30px;
}

li {
  border-radius: 5px;
  border: 3px solid white;
  border-bottom-color: #d1d5db;
  font-size: 20px;
  margin: 3px 8px;
}
p {
  font-size: 10px;
}

select {
  margin-right: 8px;
  font-weight: 700;
  background-color: #d1d5db;
  border: #d1d5db;
}

input {
  margin-left: 8px;
  margin-bottom: 2px;
}

textarea {
  margin-left: 8px;
  min-width: 360px;
  min-height: 200px;
}

button {
  text-align: right;
}

/* qna list */
.btn-space {
  text-align: center;
}
.문의하기 {
  margin-top: 3px;
  margin-left: 4px;
}
#writer {
  margin-left: 10px;
}
#new_qna {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  width: 300px;
  height: 30px;
}

/* qna detail */

#qna_title {
  color: black;
  font-size: 20px;
  margin-left: 10px;
}
#qna_edit_title {
  min-width: 360px;
  color: black;
  font-size: 20px;
}
#qna_no {
  color: black;
  font-size: 20px;
  margin-left: 5px;
}
#qna_time {
  color: black;
  font-size: 15px;
  text-align: right;
  margin-right: 5px;
}
#qna_writer {
  margin-left: 15px;
  margin-bottom: 5px;
  min-width: 360px;
  font-size: 20px;
  font-weight: 500;
}
#qna_content {
  margin-left: 8px;
  margin-bottom: 2px;
  min-width: 360px;
  font-size: 20px;
  font-weight: 500;
}
.qna_content_area {
  border-radius: 5px;
  border: 1px solid #ff4742;
  margin-left: 8px;
  margin-right: 8px;
  min-width: 360px;
  min-height: 200px;
}

.qna_detail_btn {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  margin-left: 6px;
  width: 380px;
  height: 30px;
}

.qna_delete_btn {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #ff4742;
  color: #ff4742;
  background-color: #fff;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  width: 120px;
  height: 30px;
}
.delete_area {
  text-align: right;
  margin-right: 10px;
}
#qna_reply_content {
  margin-left: 8px;
  min-width: 340px;
  min-height: 50px;
  border: 0;
}

#qna_reply_btn {
  border-radius: 5px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  width: 100px;
  height: 30px;
  text-align: center;
}
.re_btn_area {
  text-align: center;
  margin-right: 5px;
}
.slect_detail {
  margin-top: 15px;
  background-color: #d1d5db;
  text-align: left;
  height: 50px;
  border: 3px solid #d1d5db;
  border-top-color: #ff4742;
}
.span_title_detail {
  font-size: 15px;
  margin-left: 10px;
  margin-top: 13px;
  font-weight: 700;
  color: #ff4742;
  width: 70px;
}
#qna_detail_rebtn {
  color: gray;
  margin-left: 5px;
}

/* board  detail */

#board_detail_no {
  margin-top: 10px;
  margin-left: 10px;
}
#board_detail_title {
  margin-top: 10px;
  margin-left: 8px;
}
#board_detail_writer {
  font-size: 15px;
  text-align: right;
}
#board_detail_date {
  text-align: right;
  font-size: 15px;
}
#board_detail_content {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
}
.span_title1 {
  font-size: 15px;
  text-align: left;
  font-weight: 700;
  margin-top: 12px;
  margin-left: 12px;
  color: #ff4742;
}

/* board new */

#boardnew_writer {
  margin-left: 10px;
  font-size: 20px;
}
