.App {
  text-align: center;
}

.App-logo {
  width: 140px;
  height: 30px;
  padding: 6px 6px;
  margin-right: 130px;
  pointer-events: none;
}

.header-logo {
  width: 30px;
  height: 30px;
}

html {
  background-color: #e0e0e0;
}

.App-background {
  background-color: #e0e0e0;
}

.main_headerNav {
  height: auto;
  background-color: white;
  border: 2px solid #e0e0e0;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.headerNav {
  height: auto;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
.navbarMenu {
  font-size: 16px;
  margin: 20px;
  border-bottom-style: solid;
  flex-direction: row;
  text-decoration: none;
  text-align: center;
  color: black;
}

.fund_navbarMenu {
  font-size: 16px;
  margin: 13px;
  border-bottom-style: solid;
  flex-direction: row;
  text-decoration: none;
  text-align: center;
  color: black;
}

.navbarMenubtn {
  margin-left: auto;
  margin-right: 20px;
  background-color: transparent;
  border-style: solid;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.App-header {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.App-container {
  background-color: #ffffff;
  border-style: 2px solid;
  border-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* board */

.BoardList .boardName {
  margin-top: 10px;
  border: 1px solid gray;
}
