.App {
  text-align: center;
}

.App-background {
  background-color: #e0e0e0;
}

.navbarMenubtn {
  margin-left: auto;
  margin-right: 20px;
  background-color: transparent;
  border-style: solid;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.App-header {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.App-container {
  background-color: #ffffff;
  border-style: solid;
  border-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.App-link {
  color: #61dafb;
}

/* board */

.BoardList .boardName {
  margin-top: 10px;
  border: 1px solid gray;
}
