@charset "UTF-8";

.card_container {
  font-size: 15px;
  font-weight: 800;
}

.table_font {
  padding-left: 20px;
  padding-top: 10px;
}

.table_font_no {
  width: 500px;
  padding-left: 20px;
}

.rounded-square {
  width: 370px;
  height: 63px;
  margin-left: 5px;
  border: 2px solid #374151;
  border-radius: 7px;
  margin-top: 2px;
}

.card_modify {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 3px solid gray;
  color: gray;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  width: 80px;
  height: 30px;
  margin-bottom: 3px;
}

.card_delete {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  font-weight: 700;
  font-size: 15px;
  width: 80px;
  height: 30px;
}

.card_add {
  font-weight: 700;
  color: #9ca3af;
  font-size: 30px;
  text-align: center;
}
