@charset "utf-8";

.sub_title {
  width: 300px;
  font-size: 25px;
  text-align: left;
  font-weight: 400;
  margin-top: 12px;
  color: black;
  margin-right: 270px;
}

.space_container {
  height: 20px;
}
#addacc_title {
  font-size: 15px;
  margin-left: 5px;
}
select {
  height: 40px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;

  margin-left: 10px;
}

.input_lane {
  width: 200px;
  height: 40px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;

  margin-top: 10px;
}

#addacc_num {
  width: 50px;
  height: 40px;
  text-align: center;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
}
#addacc_input {
  width: 200px;
  height: 30px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
}

#addacc_btn {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 30px;
  width: 300px;
  height: 50px;
}
