.newSize {
  margin-left: 50px;
}

.space_container {
  height: 30px;
}

.sub_title_add_card {
  text-align: center;
}

#addcard_title {
  font-size: 15px;
  margin-left: 5px;
}

.input_lane_select_box {
  width: 100px;
  height: 40px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;

  margin-top: 10px;
  margin-left: 0px;
}

#addcard_num {
  width: 50px;
  height: 40px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;

  margin-top: 10px;
  margin-left: 0px;
}

#addcard_limitdate {
  font-size: 15px;
  margin-left: 10px;
}
#addcard_limitnum {
  width: 50px;
  height: 40px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
}

#addcard_cvc {
  font-size: 15px;
  margin-left: 10px;
}

#addcard_input {
  width: 50px;
  height: 40px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px;
}
.btn_area {
  text-align: center;
}
#addcard_btn {
  display: inline-block;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-left: 6px;
  margin-bottom: 30px;
  width: 300px;
  height: 50px;
}
